<!Doctype html>
<html lang="en">
    <head>
        {% include "head.html"%}

        <title>About Us</title>
    </head>
    <body class="home">
        {% include "loggedin-navbar.html" %}

        <!--Signup success message Form-->
<div class="container">
    <div class="jumbotron" style="opacity:0.9;">
        <h1 style="font-size:36px;">About MMU Alumni Network (MMUiAN)</h1>
        <p style="font-size:16px;">The main components of the MMU Alumni Network mission is to enable alumni, students, faculty and staff to maintain their contact with the University and each other for their shared benefit and for the vital support and development of MMU.
<br><br>
One of the strongest bonds that survive with you over the years is your class bonding and MMUiAN provides a forum to strengthen the bond over the years. The MMU Alumni Office aims to help you stay in touch with your University, your college and other MMUiANs’, wherever you are in the world.
<br><br>
Find old friends and stay connected to other alumni.Discovers business opportunity through MMU Alumni Network all over the world and across industries
<br><br>
Stay in contact and dialogue with us, take part in the manifold events we offer you, make use of the various information services and actively engage with words and deeds. We look forward to your interest, participation, your thoughts and beliefs in the development of your University.</p>
    </div>
</div>
        <!--Signup successs message form ends here-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>