<!Doctype html>
<html lang="en">
    <head>
        {% include "head.html"%}

        <title>Forgot Password</title>
    </head>
    <body class="home">
        {% include "navbar.html" %}

        <!--Forgot password page-->
<div class="container">
    <div class="jumbotron" style="opacity:0.9;">
        <h1 style="font-size:36px;">Contact MMU Alumni Network (MMUiAN)</h1>
        <p style="font-size:16px;">
            For any password related query,Please contact:
            <br><br>
            TPO Office, Old Engineering Block,<br>
            Maharishi Markandeshwar University, Mullana<br>
            Pin - 133207<br>
            Call Us on : xxxx-xxx-xxx<br>
            Mail Us on : info@alumni.mmumullana.org
        </p>
         <a href="/login" class="btn btn-info" role="button">Go to home!</a>
    </div>
</div>
        <!--Signup successs message form ends here-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>