<!Doctype html>
<html lang="en">
    <head>
        {% include "head.html"%}

        <title>Post</title>
    </head>
    <body>
        {% include "loggedin-navbar.html" %}

        <!--New post form-->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
             <div class="sidebar-nav">
            <div class="well" style="width:300px; padding: 8px 0;">
        		<ul class="nav nav-list">
        		  <li><a href="/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        		  <li class="active"><a href="/post"><i class="glyphicon glyphicon-pencil"></i> Add A Post</a></li>
                  <li><a href="/events"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
        		  <li><a href="/members"><i class="glyphicon glyphicon-user"></i> Members</a></li>
        		  <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Testimonials</a></li>
        		  <li><a href="#"><i class="glyphicon glyphicon-picture"></i> Gallery</a></li>
        		</ul>
        	</div>
        </div>
        </div><div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-5">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">post</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3">
            <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">I'll be there</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
              <p>MMU, I'll be there. I'll be in your mega event. #MMU</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">New Updates</h4>
            </div>
            <div class="timeline-body">
                <ul>
                <li>
                    Live events.
                </li>
                <li>
                    2. Easy Contact feature.
                </li>
            </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Save the date</h4>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>
                24, August : Pune Meet
                    </li>
                    <li>
                        02, Sept : Delhi Meet
                    </li>
                    <li>
                        22, Dec : MMU Meet
                    </li>
                </ul>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Register for events</a></li>
                  <li><a href="#">Send updates</a></li>
                  <li class="divider"></li>
                  <li><a href="#">I'm organising an event</a></li>
                </ul>
              </div>
            </div>
          </div>
    </ul>
        </div>
    </div>
</div>
        <!--New post ends here-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>