<!Doctype html>
<html lang="en">
    <head>
        {% include "head.html"%}

        <title>Signup</title>
    </head>
    <body class="home">
        {% include "navbar.html" %}

        <!--Signup success message Form-->
<div class="container">
    <div class="jumbotron" style="opacity:0.9;">
        <h1>Registration Successful.</h1>
        <p>Back to login.</p>
        <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
    </div>
</div>
        <!--Signup successs message form ends here-->
        {% include "footer.html" %}

        {% include "scripts.html" %}
    </body>
</html>